# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
venv
**/*.pyc
**/.env
**/.db.sqlite3

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/db.sqlite3

backend/db.sqlite3
backend/analytics/__pycache__/__init__.cpython-310.pyc
backend/analytics/__pycache__/admin.cpython-310.pyc
backend/analytics/__pycache__/apps.cpython-310.pyc
backend/analytics/__pycache__/models.cpython-310.pyc
backend/analytics/__pycache__/serializers.cpython-310.pyc
backend/analytics/__pycache__/urls.cpython-310.pyc
backend/analytics/__pycache__/views.cpython-310.pyc
backend/analytics/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/analytics/migrations/__pycache__/0002_author_moderator_alter_post_author.cpython-310.pyc
backend/analytics/migrations/__pycache__/0003_post_likescount.cpython-310.pyc
backend/analytics/migrations/__pycache__/__init__.cpython-310.pyc
backend/backend/__pycache__/__init__.cpython-310.pyc
backend/backend/__pycache__/settings.cpython-310.pyc
backend/backend/__pycache__/urls.cpython-310.pyc
backend/backend/__pycache__/wsgi.cpython-310.pyc
backend/db.sqlite3
